* {
  margin: 0px;
  padding: 0px;
}

body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.note-row > h1 {
  font-size: 1em;
  font-weight: normal;
}

.note-row{
  display: grid;
  grid-template-columns: 10% 60% 20% 10%;
  grid-template-rows: auto 1fr;
}

.due-date{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.importance{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-align: right;
}

.finished{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.description {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.edit-input{
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}