* {
  margin: 0px;
  padding: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  padding: 5px;
  background-color: #00adff54;
}

#sort-by-toolbar > a{
  display: inline;
}

#sort-by-toolbar > a > button:hover{
  background-color: #00B7FF;
}

#sort-by-toolbar > a > .selected{
  background-color: #00B7FF;
}