<form>
    <label for="title">Titel:</label>
    <input type="text">

    <label for="description">Description:</label>
    <input type="text">

    <label for="importance">Importance:</label>
    <input type="radio" name="importance">
    <input type="radio" name="importance">
    <input type="radio" name="importance">
    <input type="radio" name="importance">
    <input type="radio" name="importance">
</form>